## FrontEnd ##
# dependencies
node_modules/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# more misc
env/
.git/
.vscode/
**/node_modules/
build/
impact/static/
__pycache__/
dist/
logs/
htmlcov/
.coverage
*.mo
*.log
